/* ~~~~ universal styles ~~~~ */

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-size: 18px;

}

html {
  --header-height: 80px;
  --negative-header-height: -80px;
  --main-font: "IBM Plex Serif", "Times new Roman", serif;
  --header-font: "Bebas Neue", "Trebuchet MS", sans-serif;
  --main-background-color: hsla(15, 15%, 90%);
  --accent-color-1: #bc002d;
  --accent-color-2: #C15732;
  --accent-color-3: ghostwhite;
  --header-background-color: #2C2C2C;
  
}

body {
  background-color: var(--main-background-color);
  color: black;
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 2.25rem;
  color: black;
}

p {
  font-family: var(--main-font);
}



/* ~~~~ header and nav ~~~~ */


#desktop-header  {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--accent-color-1);
  width: 100%;
  background-color: var(--header-background-color);
  z-index: 99;
  overflow: hidden;
  position: fixed;

}


.branding img {
  display: flex;
  height: 80px;
  padding-left: 20px;
}

.branding {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.branding-text span{
  font-family: var(--main-font);
  font-size: 15px;
  letter-spacing: .05rem;
  color: var(--accent-color-3);
  font-weight: 500;
}

.branding-text {
  display: flex;
  flex-direction: column;
}



#desktop-nav li {
  display: inline;
  padding-left: 15px;
}

#desktop-nav ul {
  padding-right: 20px;
}

#desktop-nav a {
  color: var(--accent-color-3);
  text-decoration: none;
}

/*mobile nav */


#mobile-nav #myLinks {
  display: none;
}

#mobile-nav a {
  color: var(--accent-color-3);
  display: block;
}

#mobile-header {
  overflow: hidden;
  position: fixed;
  background-color: var(--header-background-color);
  border-bottom: 4px solid var(--accent-color-1);
  width: 100%;
  z-index: 99;
}

#mobile-nav a {
  color: var(--accent-color-3);
  padding: .25rem;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  font-family: var(--header-font);
}

#mobile-nav a.icon {
  background: var(--header-background-color);
  display: block;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
}


/* main page area */

#map {
  width: 100%;
  overflow: hidden;
  height: 601px;
}

h1.title {
  margin: .5rem 0rem;
  filter: drop-shadow(0.11rem 0.11rem 1px var(--accent-color-1))
}

h2 {
  font-family: var(--main-font);
  font-size: 1.15rem;
}

.theme {
  margin-bottom: 1rem;
}

.theme p {
  margin: 1rem 0rem;
}

.theme:first {
  margin: 0;
}

.theme blockquote {
  font-family: var(--main-font);
  font-size: .88rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.theme sup {
  font-size: .66rem;
}

footer {
  font-family: var(--main-font);
  font-size: .77rem;
  margin-top: 75px;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  
}

figcaption a, p a {
  color: var(--accent-color-1);
}

figcaption a:hover, p a:hover {
  color: var(--accent-color-2);
}

figcaption a:visited, p a:visited {
  color: var(--accent-color-2);
}


main hr {
  border: .5px solid black;
  margin-bottom: 1rem;
}

details, summary {
  font-family: var(--main-font);
}

details {
  font-size: .88rem;
  padding: 15px 0px;
}

summary {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

#akiyama::before,  #fujii::before, #furuta::before, #amy-ishii::before, #charles-ishii::before, #iwatsuru::before, #kanegae::before, #kamei::before, #hyotaro-kaneko::before, #mine-kaneko::before, #george-kanno::before, #james-kanno::before, #maki-kanno::before, #kikuchi::before, #kishiyama::before, #kobayashi::before, #masukawa::before, #munemitsu::before, #nishizu::before, #anita-shepardson::before, #the-nittas::before, #hitoshi-nitta::before, #mary-nitta::before, #minoru-nitta::before, #mitsuo-nitta::before, #shigekawa::before, #takahashi::before, #tashima::before, #uno::before, #yamada::before, #yoshida::before, #yoshitomi::before {
  content: "";
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}


/* image rules */



figcaption {
  font-family: var(--main-font);
  font-size: .75rem;
  font-style: italic;
}

figcaption a {
  font-size: .75rem;
}

.image-wrap {
  width: 400px;
  float: left;
  padding-right: .5rem;
  padding-top: .5rem;
}

.image-wrap-2 {
  width: 400px;
  float: right;
  padding-left: .5rem;
  padding-top: .5rem
}

.image-wrap-top {
  width: 300px;
  float: right;
  padding-left: .5rem;
  padding-top: .5rem;
}

.image-wrap .text-image, .image-wrap-2 .text-image, .image-wrap-top .text-image {
  max-width: 100%;
  height: auto;
}


/* citations rules */

#citations {
  margin-top: .5rem;
}

#citations h3 {
  font-family: var(--main-font);
  font-size: .88rem;
}

.citation {
  font-family: var(--main-font);
  font-size: .77rem;
  display: block;
}

.sources .citation {
  text-indent: 1rem;
  margin: .5rem 0;
}

.sources a {
  font-size: .77rem;
  
}

.sources a:hover {
  color: var(--accent-color-1);
}

/* special stuff */
/* below this line */



/* read more rules */


.readMore button {
  background-color: var(--header-background-color);
  color: var(--accent-color-3);
  border-radius: 5px;
  font-family: var(--main-font);
  padding: .25rem;
  display: block;
  text-transform: capitalize;
  margin-top: .5rem;
}

.readMore button:hover, .readMore button:focus {
  filter: drop-shadow(1.5px 1.5px 1px var(--accent-color-1))
}




/* hover underline from left */
/* original code from www.thefracturedmonolith.com */
/* coded by Kathy Cheng */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  font-family: var(--header-font);
  font-size: 1.2rem;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--accent-color-1);
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* media rules */

@media only screen and (min-width: 1410px) {
  .image-wrap-top {
    display: none;
  }
}

@media only screen and (min-width: 945px) {
  #mobile-header {
    display: none;
  }
  
  main {
    padding-top: var(--header-height);
  }
  
}

@media only screen and (max-width: 944px) {
  
  * {
    font-size: 20px;
  }
  
  #desktop-header {
    display: none;
  }
  
  main {
    padding-top: var(--header-height);
    width: 100%;
  }
  
  h1.title {
    padding-left: 10px;
  }
  
  #themes {
    padding: 0px 10px;
  }
  
  
}

@media only screen and (max-width: 768px) {
  .image-wrap, .image-wrap-2, .image-wrap-top {
    padding: 0;
    width: 100%;
  }
  
  
}

@media only screen and (max-height: 450px) {
  #map {
    height: 275px;
  }
}
